# Website Configuration
SITE_URL=https://vedtam.com
SITE_NAME=Vedtam Tech Solutions
FROM_EMAIL=certin-advisories@vedtam.io
FROM_NAME=Vedtam CERT-In Alerts
SUBSCRIBERS_CSV=subscribers.csv

# SMTP Mail Server Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_SECURE=tls
